body {
    padding: 0;
    margin: 0;
    background-color: burlywood;
}

.weatherBlock {
    background-color: chartreuse;
    padding-left: 270px;
}

.weatherClass {
    background-color: turquoise;
    padding-left: 270px;
}

.header{
    background-color: firebrick;
    padding-left: 50px;
}